.filter-products-container {
  margin-top: 30px;
}

.filter-products-container .list-of-products {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  list-style: none;
  margin-top: 50px;
}

.filter-products-container .list-of-products li {
  width: 30%;
}
