.quiz {
  max-width: 600px;
  margin: auto;
  text-align: center;
  background-color: #f9f9f9;
  padding: 25px;
  border-radius: 8px;
}

.quiz h1 {
  margin-bottom: 30px;
  color: #333333;
}

.quiz .options-wrapper .options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quiz .options-wrapper h2,
.show-result-wrapper h2 {
  margin-bottom: 10px;
}

.quiz .options-wrapper p,
.show-result-wrapper p {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bolder;
  color: rgb(6, 242, 33);
}
